    <ul>
      {{#items}}
        <li>{{name}}</li>
      {{/items}}
    </ul>

    
    <h3>My Skills</h3>
      <ul>
      {{#skills}}
        <li>{{name}}</li>
      {{/skills}}
    </ul>


    <h3>My Experience</h3>
          <ul>
      {{#experience}}
        <li>{{name}}</li>
      {{/experience}}
    </ul>